<footer class="sticky">
      <div class="icon">
        <a href="https://twitter.com/" target="_blank"><img src="./assets/images/twitter.jpg" alt=""></a>
        <a href="https://www.facebook.com/"target="_blank"><img src="./assets/images/fb.png" alt=""></a>
        <a href="https://www.instagram.com/"target="_blank"><img src="./assets/images/instaicon.png" alt=""></a>
      </div>
    <div class="copyright">
      <p>Copyright &copy; 2022 by F.A. service centre -- Make In India</p>
    </div>
</footer>
