<div class="banner">
    <div class="content">
       <img src="./assets/images/contactus.jpg">
    </div>
    <div> 
       <p><b>contact us</b><br><br><i>Please get in touch and our expert support <br>team will answer all your questions.</i></p>
    </div>
 </div>
<div class="maincontact">
    <div class="card"> 
      <div class="address">
        <img src="./assets/images/locate.jpg" height=50px>
        <h4><b>Address</b></h4> 
        <p>Plot 39/A/4,govandi</p> 
      </div>
    </div>
    <div class="card"> 
      <div class="phone">
        <img src="./assets/images/phone.jpg" height=50px>
        <h4><b>Phone</b></h4> 
        <p>+91 9920877682</p> 
      </div>
    </div>
    <div class="card"> 
      <div class="fax">
        <img src="./assets/images/fax.jpg" height=50px>
        <h4><b>Fax</b></h4> 
        <p>-</p> 
      </div>
    </div>
    <div class="card"> 
      <div class="email">
        <img src="./assets/images/email.jpg" height=50px>
        <h4><b>Email</b></h4> 
        <p>faridshaikh191@gmail.com</p> 
      </div>
    </div>
    </div>
    
    <div class="last2">
    <h1 >We're here for you</h1><br>
    <p>We're in this business for more than two decade, which means that we are expert with the thing you are looking for !<br>You can locate us using below loaction<p>
    </div>
    
    <div class="last">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.0085121765537!2d72.92859881437664!3d19.063363357324658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6691bb386b3%3A0xb6d9b1470c79c97c!2sf%20a%20service%20centre!5e0!3m2!1sen!2sin!4v1670852460344!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>