<div class="banner">
    <div class="content">
       <img src="./assets/images/gallery.jpg">
    </div>
    <div> 
       <p><b>Gallery</b><br><br><br>Have a look to our gallery</p>
    </div>
 </div>
 <div class="gallery">
    <img src="./assets/images/gal1.jpeg" alt="">
    <img src="./assets/images/gal2.jpg" alt="">
    <img src="./assets/images/gal3.jpg" alt="">
    <img src="./assets/images/gal4.jpg" alt="">
    <img src="./assets/images/gal5.jpg" alt="">
    <img src="./assets/images/gal6.jpg" alt="">
    <img src="./assets/images/gal7.jpg" alt="">
    <img src="./assets/images/gal8.jpg" alt="">
    <img src="./assets/images/gal9.jpg" alt="">
    <img src="./assets/images/gal10.jpg" alt="">
    <img src="./assets/images/gal11.jpg" alt="">
    <img src="./assets/images/gal12.jpg" alt="">
    <img src="./assets/images/gal13.jpg" alt="">
    <img src="./assets/images/gal14.jpg" alt="">
    <img src="./assets/images/gal15.jpg" alt="">
    <img src="./assets/images/gal16.jpg" alt="">
    <img src="./assets/images/gal17.jpg" alt="">
    <img src="./assets/images/gal18.jpg" alt="">
    <img src="./assets/images/gal19.jpg" alt="">
    <img src="./assets/images/gal20.jpg" alt="">
    <img src="./assets/images/gal21.jpg" alt="">
    <img src="./assets/images/gal22.jpg" alt="">
    <img src="./assets/images/gal23.jpg" alt="">
    <img src="./assets/images/gal24.jpg" alt="">
 </div>