<div class="banner">
    <div class="content">
       <img src="./assets/images/product.jpg">
    </div>
    <div> 
       <p><b>Our chairs</b><br><i>Quality product</i><br><br>These are preliminary rates and is not the final. Please contact us for exact rate</p>
    </div>
 </div>

 <div class="rec"><h1>Recommended product</h1></div>
 <div class="mainblock">
    <div class="card">
      <img src="./assets/images/premiumpushback.jpg" alt="Avatar">
      <div class="container">
        <h4><b>Pushback premium</b></h4> 
        <h3>₹3700</h3>
        <button class="detail">Details</button>
        <a routerLink="/contactus"><button class="buy">Buy now</button></a>
      </div>
    </div>
    <div class="card">
      <img src="./assets/images/pushback.jpg" alt="Avatar">
      <div class="container">
        <h4><b>Push back</b></h4> 
        <h3>₹3900</h3>
        <button class="detail">Details</button> 
        <a routerLink="/contactus"><button class="buy">Buy now</button></a>
      </div>
    </div>
    <div class="card">
      <img src="./assets/images/pushbacksofa.jpg" alt="Avatar">
      <div class="container">
        <h4><b>Pushback Sofa</b></h4> 
        <h3>₹4900</h3>
        <button class="detail">Details</button> 
        <a routerLink="/contactus"><button class="buy">Buy now</button></a>
      </div>
    </div>
    <div class="card">
      <img src="./assets/images/pushbackpremium.jpg" alt="Avatar">
      <div class="container">
        <h4><b>Pushback Premium</b></h4> 
        <h3>₹4300</h3>
        <button class="detail">Details</button> 
        <a routerLink="/contactus"><button class="buy">Buy now</button></a>
      </div>
    </div>
</div>


<div class="rec"><h1>Premium chairs</h1></div>
<div class="mainblock">
<div class="card">
  <img src="./assets/images/pre1.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Pushback PrFA1</b></h4> 
    <h3>₹3680</h3>
    <button class="detail">Details</button>
    <a routerLink="/contactus"><button class="buy">Buy now</button></a>
  </div>
</div>
<div class="card">
  <img src="./assets/images/pre2.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Pushback PrFA3</b></h4> 
    <h3>₹4500</h3>
    <button class="detail">Details</button> 
    <a routerLink="/contactus"><button class="buy">Buy now</button></a>
  </div>
</div>
<div class="card">
  <img src="./assets/images/pre3.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Pushback PrFA6</b></h4> 
    <h3>₹15900</h3>
    <button class="detail">Details</button> 
    <a routerLink="/contactus"><button class="buy">Buy now</button></a>
  </div>
</div>
<div class="card">
  <img src="./assets/images/pre4.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Pushback PrFA9</b></h4> 
    <h3>₹5500</h3>
    <button class="detail">Details</button> 
    <a routerLink="/contactus"><button class="buy">Buy now</button></a>
  </div>
</div>
</div>
<div class="rec"><h1>Pushback Chairs</h1></div>
<div class="mainblock">
<div class="card">
  <img src="./assets/images/push1.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Pushback PuFA9</b></h4> 
    <h3>₹3700</h3>
    <button class="detail">Details</button>
    <a routerLink="/contactus"><button class="buy">Buy now</button></a>
  </div>
</div>
<div class="card">
  <img src="./assets/images/push2.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Pushback PuFA3</b></h4> 
    <h3>₹3150</h3>
    <button class="detail">Details</button> 
    <a routerLink="/contactus"><button class="buy">Buy now</button></a>
  </div>
</div>
<div class="card">
  <img src="./assets/images/push3.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Pushback PuFA8</b></h4> 
    <h3>₹4200</h3>
    <button class="detail">Details</button> 
    <a routerLink="/contactus"><button class="buy">Buy now</button></a>
  </div>
</div>
<div class="card">
  <img src="./assets/images/push4.jpeg" alt="Avatar">
  <div class="container">
    <h4><b>Pushback PuFA4</b></h4> 
    <h3>₹4300</h3>
    <button class="detail">Details</button> 
    <a routerLink="/contactus"><button class="buy">Buy now</button></a>
  </div>
</div>
